/* Homepage specific style */

/* Page Content ***************************************************************/
.pageBody {
    float:left;
    width: 60%;
    margin-left: 100px;
}

body {
	background-color: #000000;
}

h2 {
    color: #ffffff;
    font-family: CrimsonPro;
    font-size: 50px;
    width: 700px;
    margin-right: auto;
    margin-top: 80px;
    text-align: left
}

.line2 {
    border-top: 1px solid white;
    background-color: transparent;
}

p {
    font-family: CrimsonPro;
    font-size: 20px;
    display: block;
    color: #ffffff;
}

.links nav ul {
    list-style-type: circle;
    color: white
}

.links nav ul li a {
    color: #ffffff;
    font-family: CrimsonPro;
	text-decoration: none;
    font-size: 20px;
    line-height: 1.5;
}

.links nav ul li a:hover {
	color: #b3b3b3
}


.extras nav ul {
    list-style-type: circle;
    color: white
}

.extras nav ul li a {
    color: #ffffff;
    font-family: CrimsonPro;
	text-decoration: none;
    font-size: 20px;
    line-height: 1.5;
}

.extras nav ul li a:hover {
	color: #b3b3b3
}
