/* Homepage specific style */

/* Page Content ***************************************************************/
.pageBody {
    float:left;
    width: 60%;
    margin-left: 100px;
}

body {
	background-color: #000000;
}

h2 {
    color: #ffffff;
    font-family: CrimsonPro;
    font-size: 50px;
    margin-right: auto;
    margin-top: 80px;
    text-align: left
}

.line2 {
    border-top: 1px solid white;
    background-color: transparent;
}

p {
    font-family: CrimsonPro;
    font-size: 20px;
    display: block;
    color: #ffffff;
    width: 90%;
    margin-left: 20px
}

/*****************************************************************************/
/*************************** for mobile screens ******************************/
/*****************************************************************************/
@media only screen and (max-width: 1000px) {
    h2 {
        text-align: center;
        margin-right: auto;
        margin-left: auto;
        margin-top: 0px;
    }

    .pageBody {
        width: 96%;
        margin-left: 2%;
        margin-right: 2%;
    }

    .line2 {
        display: none
    }
}
