/* Idunn chapter specific style */

/* Page Content ***************************************************************/
.pageBody {
    float:left;
    margin-left: 100px;
    width: 60%;
}

body {
	background-color: #000000;
}

h2 {
    color: #ffffff;
    font-family: IMFellEnglish;
    font-size: 50px;
    margin-right: auto;
    margin-top: 80px;
    text-align: left
}

.line2 {
    border-top: 1px solid white;
    background-color: transparent;
}

p {
    font-family: LibreBaskerville;
    font-size: 16px;
    display: block;
    color: #ffffff;
}

/* The page images */
.page {
    width: 90%
}

/* Side Navigation ************************************************************/
.sideNav nav ul li a {
    font-family: LibreBaskerville;
    color: white;
}

.sideNav nav {
    border-left-color: white;
}

/* Arrows ********************************************************************/
.arrows {
    color: white;
    font-family: LibreBaskerville;
}

.arrows a {
    color: white;
    font-family: LibreBaskerville;
    font-size: 17px
}

.arrows a:hover {
    color: #b3b3b3;
}

/*****************************************************************************/
/*************************** for mobile screens ******************************/
/*****************************************************************************/
@media only screen and (max-width: 800px) {
    .page {
        width: 100%
    }
}
