/* Percy chapter specific style */

/* Page Content ***************************************************************/
.pageBody {
    float: left;
    margin-left: 100px;
    width: 60%;
}

body {
	background-color: #000000;
}

h2 {
    color: #ff8dba;
    font-family: KaushanScript;
    font-size: 50px;
    margin-right: auto;
    margin-top: 80px;
    text-align: left
}

.line2 {
    border-top: 1px solid #ff8dba;
    background-color: transparent;
}

.line3 {
    background-color: transparent;
    color: #ff8dba
}

p {
    font-family: Quicksand;
    font-size: 19px;
    display: block;
    color: #ff8dba;
    margin: 0;
    width: 86%;
    line-height: 1.25;
}

/* Side Navigation ************************************************************/
.sideNav nav ul li a {
    font-family: Quicksand;
    color: #ff8dba;
    font-size: 19px
}

.sideNav nav {
    border-left-color: #ff8dba;
}

/* Notes **********************************************************************/
.notes {
    float: right;
    width: 25%;
    margin-top: 190px;
    margin-right: 5%;
    border-left-color: #ff8dba;
    border-left-style: solid;
    border-left-width: 2px;
}

.notesText {
    margin-left: 10px
}

/* Arrows ********************************************************************/
.arrows {
    color: #ff8dba;
    font-family: Quicksand;
}

.arrows a {
    color: #ff8dba;
    font-family: Quicksand;
    font-size: 22px
}

.arrows a:hover {
    color: #b3b3b3;
}

/*****************************************************************************/
/*************************** for mobile screens ******************************/
/*****************************************************************************/
@media only screen and (max-width: 800px) {
    h2 {
        font-size: 200%
    }

    .arrows a {
        font-size: 18px
    }
}
