/* Global style stuff, nav bar and header */

@font-face {
  font-family: Vollkorn;
  src: url('../Fonts/VollkornSC-Regular.tff') format('truetype'),
       url('../Fonts/VollkornSC-Regular.woff') format('woff')
}

@font-face {
  font-family: CrimsonPro;
  src: url('../Fonts/CrimsonPro.tff') format('truetype'),
       url('../Fonts/CrimsonPro.woff') format('woff')
}

@font-face {
  font-family: IMFellEnglish;
  src: url('../Fonts/IMFellEnglishSC-Regular.tff') format('truetype'),
       url('../Fonts/IMFellEnglishSC-Regular.woff') format('woff')
}

@font-face {
  font-family: Quicksand;
  src: url('../Fonts/Quicksand-VariableFont_wght.tff') format('truetype'),
       url('../Fonts/Quicksand-VariableFont_wght.woff') format('woff')
}

@font-face {
  font-family: KaushanScript;
  src: url('../Fonts/KaushanScript-Regular.tff') format('truetype'),
       url('../Fonts/KaushanScript-Regular.woff') format('woff')
}

@font-face {
  font-family: LibreBaskerville;
  src: url('../Fonts/LibreBaskerville-Regular.tff') format('truetype'),
       url('../Fonts/LibreBaskerville-Regular.woff') format('woff')
}

@font-face {
  font-family: Caudex;
  src: url('../Fonts/Caudex-Regular.tff') format('truetype'),
       url('../Fonts/Caudex-Regular.woff') format('woff')
}

/* Title/Header **************************************************************/

h1 {
    font-family: Vollkorn;
    font-size: 100px;
    color: #ffffff;
	background-color: #000000;
    width: 700px;
    height: 115px;
    margin-top: 0;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

/* Top Navigation Menu ********************************************************/
.topnav nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 30px;
}

.topnav nav ul li {
	display: inline-block;
	padding: 10px 20px 0px 0px;
}

.topnav nav ul li a {
	color: #ffffff;
    font-family: CrimsonPro;
	text-decoration: none;
    font-size: 20px
}

.topnav nav ul li a:hover {
	color: #b3b3b3
}

/* Logo bar *******************************************************************/
.lineWideScreen {
    position: relative;
    overflow: visible;
    border-color: white;
    margin-top: 60px;
}

.logoWideScreen {
    position: absolute;
    background-color: black;
    outline: 10px solid black;
    width: 70px;
    height: 60px;
    left: 50%;
    margin-left: -35px;
    margin-top: -30px;
}

.lineNarrowScreen {
    display: none
}

.logoNarrowScreen {
    display: none
}

.header1Narrow {
    display: none
}

/* Side Navigation Menu *******************************************************/
.sideNav {
    float: right;
    width: 25%;
    margin-top: 190px;
    margin-right: 2%;
}

.sideNav nav {
    border-left-style: solid;
    border-left-width: 2px;
}

.sideNav nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    top: -30px;
    left: 70%;
}

.sideNav nav ul li {
    display: block;
    color: #000;
    padding: 8px 16px;
}

.sideNav nav ul li a {
	text-decoration: none;
}

.sideNav nav ul li a:hover {
	color: #b3b3b3
}

/* Notes **********************************************************************/
.notes {
    float: right;
    width: 25%;
    margin-top: 20px;
    margin-right: 2%;
}

.AuthorNotes {
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-left-color: white;
    border-left-style: solid;
    border-left-width: 2px;
}


/*****************************************************************************/
/*************************** for mobile screens ******************************/
/*****************************************************************************/
@media only screen and (max-width: 800px) {
    h1 {
        display: none;
    }

    /* Line and logo *********************************************************/
    .lineWideScreen {
        display: none
    }

    .logoWideScreen {
        display: none
    }

    .lineNarrowScreen {
        display: block;
        width: 100%;
        position: absolute;
        border-top-style: solid;
        border-color: white;
        top: 60px;
    }

    .logoNarrowScreen {
        display: initial;
        position: absolute;
        width: 56px;
        height: 48px;
        left: 45px;
        top: 40px;
        padding-left: 15px;
        margin-left: -30px;
        margin-top: -30px;
    }

    .header1Narrow {
        display: block;
        width: 50%;
        text-align: center;
        position: relative;
        padding-top: 5px;
        font-size: 30px
    }

    /* Top navigation menu ***************************************************/
    .topnav {
        right: 0px;
    }

    .topnav #links {
        position: absolute;
        display: none;
        right: -20px;
        top: 70px;
        float: right;
    }

    .topnav nav ul li {
        display: block;
    }

    .topnav nav ul li a {
        padding: 0px 30px 10px 15px;
        margin-bottom: 10px;
        border-bottom: solid;
        border-color: white;
        border-width: 2px;
        float: right;
    }

    /* Ham menu **************************************************************/
    .hamContainer {
        display: block;
        width: 100%;
        margin-top: 10px
    }

    .hamburgerMenu {
        float: right;
        margin-right: 5px;
        display: initial;
    }

    .bar1, .bar2, .bar3 {
        width: 35px;
        height: 2px;
        background-color: #ffffff;
        margin: 10px 0;
        transition: 0.4s;
        border-color: white;
    }

    .change .bar1 {
        transform: translate(0, 11px) rotate(-45deg);
    }

    .change .bar2 {opacity: 0;}

    .change .bar3 {
        transform: translate(0, -11px) rotate(45deg);
    }

    .sideNav {
        display: none
    }
}
