/* Jonah chapter specific style */

/* Page Content ***************************************************************/
.pageBody {
    float: left;
    margin-left: 100px;
    width: 60%;
}

body {
	background-color: #000000;
}

h2 {
    color: #ffffff;
    font-family: Caudex;
    font-size: 50px;
    margin-right: auto;
    margin-top: 80px;
    text-align: left
}

.line2 {
    border-top: 1px solid white;
    background-color: transparent;
}

p {
    font-family: TimesNewRoman;
    font-size: 20px;
    display: block;
    color: #ffffff;
    margin: 0;
    margin-left: 0px;
    width: 86%;
    line-height: 1.3;
}

.dream {
    text-align: center
}

/* Side Navigation ************************************************************/
.sideNav nav ul li a {
    font-family: TimesNewRoman;
    color: white;
}

.sideNav nav {
    border-left-color: white;
}

/* Notes **********************************************************************/
.notes {
    float: right;
    width: 25%;
    margin-top: 10px;
    margin-right: 2%;
}

/* Footnotes ******************************************************************/
.footnotes {
    border-left-color: white;
    border-left-style: solid;
    border-left-width: 2px;
    padding-left: 10px;
}

footnoteText {
    font-family: TimesNewRoman;
    font-size: 18px;
    display: block;
    color: #ffffff;
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Arrows ********************************************************************/
.arrows {
    color: white;
    font-family: TimesNewRoman;
}

.arrows a {
    color: white;
    font-family: TimesNewRoman;
    font-size: 17px
}

.arrows a:hover {
    color: #b3b3b3;
}

/*****************************************************************************/
/*************************** for mobile screens ******************************/
/*****************************************************************************/
@media only screen and (max-width: 800px) {
    h2 {
        font-size: 200%
    }

    .arrows a {
        font-size: 18px
    }

    .AuthorNotes {
        display: none;
        border-style: none
    }

    .notes {
        display: none;
        border-style: none
    }
}
